<h1><%= t ".title" %> </h1>
<p>
<%= t ".the" %>
<%= link_to t(".rails_link"), Settings.about.rails_link %>
<%= t ".part_of" %>
<%= link_to t(".learn_enough"), Settings.about.learn_enough %>
<%= t ".family_of_tutorials" %>
<%= link_to t(".book"), Settings.about.book %>
<%= t ".and" %>
<%= link_to t(".screencast_series"), Settings.about.screencast_series %>
<%= t ".teach_web"%>
<%= link_to t(".rails_link"), Settings.about.rails_link %>
<%= t ".sample_app"%>
</p>
